<ul class="list-group">
  <% for (todo of todos) { if (isShowDoneTodos || !todo.isComplete) { %>
    <a href="/todo/<%= todo._id %>">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div>
          <%= todo.name %>
          <div>
            <% if (todo.isComplete) { %> 
              (DONE)
              <%= todo.completedDate.toISOString().split("T")[0] %> 
            <% } else if (todo.dueDate) { %> 
              <%= todo.dueDate.toISOString().split("T")[0] %> 
            <% } %> 
          </div>
        </div>
        <div>
          <%- await include("./views/partials/todo-complete-button.ejs", { todo: todo }) %> 
          <%- await include("./views/partials/todo-delete-button.ejs", { todo: todo }) %> 
        </div>
      </li>
    </a>
    <% }} %>
</ul>