<ul class="list-group">
  <% for (todo of todos) { if (isShowDoneTodos || !todo.isComplete) { %>
    <a href="/todo/<%= todo._id %>">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <% if (todo.isComplete) { %> 
          <div> <%= todo.name %> (DONE) </div>
        <% } else { %> 
          <div> <%= todo.name %> </div>
        <% } %> 
        <div>
          <%- await include("./views/partials/todo-complete-button.ejs", { todo: todo }) %> 
          <form action="/delete-todo/<%= todo._id %>" method="POST">
            <button type="submit" class="btn btn-primary mb-2">
              Delete
            </button>
          </form>
        </div>
      </li>
    </a>
    <% }} %>
</ul>