<!DOCTYPE html>
<html lang="en">

<head>
  <%- await include("./views/layout/head.ejs", {title: title}) %> 
</head>

<header>
  <%- await include("./views/layout/header.ejs") %> 
</header>

<body>
  <form class="form-inline" action="/add-todo" method="POST">
    <input type="text" class="form-control mb-2 mr-sm-2" name="new-todo">
    <input type="checkbox" class="form-control mb-2 mr-sm-2" name="is-important" value="true">
    <label for="is-important">Important?</label>
    <input type="checkbox" class="form-control mb-2 mr-sm-2" name="is-urgent" value="true">
    <label for="is-urgent">Urgent?</label>
    <button type="submit" class="btn btn-primary mb-2">
      Add Todo
    </button>
  </form>

  <% if (error) { %> 
    <div class="alert alert-danger" role="alert">
      <%= error %> 
    </div>
  <% } %> 

  <div>
    <h2>Important / Urgent </h2>
    <%- await include('./views/layout/todo-list.ejs', {
      todos: todos.filter(todo => todo.isImportant && todo.isUrgent),
    }) %> 
  </div>
  <div>
    <h2>Important / Not Urgent </h2>
    <%- await include('./views/layout/todo-list.ejs', {
      todos: todos.filter(todo => todo.isImportant && !todo.isUrgent),
    }) %> 
  </div>
  <div>
    <h2>Not Important / Urgent </h2>
    <%- await include('./views/layout/todo-list.ejs', {
      todos: todos.filter(todo => !todo.isImportant && todo.isUrgent),
    }) %> 
  </div>
  <div>
    <h2>Not Important / Not Urgent </h2>
    <%- await include('./views/layout/todo-list.ejs', {
      todos: todos.filter(todo => !todo.isImportant && !todo.isUrgent),
    }) %> 
  </div>
</body>

<footer>
  <%- await include("./views/layout/footer.ejs") %> 
</footer>

</html>