<!DOCTYPE html>
<html lang="en">

<head>
  <%- await include("./views/layout/head.ejs", {title: todo.name}) %> 
</head>

<header>
  <%- await include("./views/layout/header.ejs") %> 
</header>

<body>
  <form class="form-inline" action="/update-todo/<%= todo._id %>" method="POST">
    <input 
      type="text" class="form-control mb-2 mr-sm-2" 
      name="update-todo" value="<%= todo.name %>">
    <div>
      <input type="checkbox" class="form-control mb-2 mr-sm-2" name="is-important" value="true"
       <% if (todo.isImportant) { %> checked <% } %> 
      >
      <label for="is-important">Important?</label>
    </div>
    <div>
      <input type="checkbox" class="form-control mb-2 mr-sm-2" name="is-urgent" value="true"
       <% if (todo.isUrgent) { %> checked <% } %> 
      >
      <label for="is-urgent">Urgent?</label>
    </div>
    <button type="submit" class="btn btn-primary mb-2">
      Update Todo
    </button>
  </form>

  <% if (error) { %> 
    <div class="alert alert-danger" role="alert">
      <%= error %> 
    </div>
  <% } %> 

</body>

<footer>
  <%- await include("./views/layout/footer.ejs") %> 
</footer>

</html>