<!DOCTYPE html>
<html lang="en">

<head>
  <%- await include("./views/partials/head.ejs", {title: title}) %> 
  <link rel="stylesheet" type="text/css" href="./assets/styles/matrix2d.css"/>
</head>

<header>
  <%- await include("./views/partials/header.ejs") %> 
</header>

<body>
  <hr>
  <form action="/add-todo" method="POST">
    <div>
      <label for="new-todo">Todo name:</label>
      <input type="text" name="new-todo">
    </div>
    <div>
      <input type="checkbox" name="is-important" value="true">
      <label for="is-important">Important?</label>
      <input type="checkbox" name="is-urgent" value="true">
      <label for="is-urgent">Urgent?</label>
    </div>
    <div>
      <label for="due-date">Due date:</label>
      <input type="date" id="due-date" name="due-date">
    </div>
    <button type="submit" class="btn btn-primary mb-2">
      Add Todo
    </button>
  </form>
  <hr>

  <% if (error) { %> 
    <div class="alert alert-danger" role="alert">
      <%= error %> 
    </div>
  <% } %> 

  <form class="form-inline" action="/toggle-hide-done-todos" method="POST">
    <button type="submit" class="btn btn-primary mb-2">
      <% if (isShowDoneTodos) { %> 
        Hide 
      <% } else { %> 
        Show 
      <% } %> 
      done
    </button>
  </form>

  <div class="matrix-2d">
    <div class="label-top label-1-1">
      Important
    </div>
    <div class="label-top label-1-2">
      Not Important
    </div>
    <div class="label-left label-2-1">
      Urgent
    </div>
    <div class="label-left label-2-2">
      Not Urgent
    </div>
    <div class="content content-1-1">
      <%- await include('./views/partials/todo-list.ejs', {
        todos: todos.filter(todo => todo.isImportant && todo.isUrgent),
        isShowDoneTodos
      }) %> 
    </div>
    <div class="content content-1-2">
      <%- await include('./views/partials/todo-list.ejs', {
        todos: todos.filter(todo => !todo.isImportant && todo.isUrgent),
        isShowDoneTodos
      }) %> 
    </div>
    <div class="content content-2-1">
      <%- await include('./views/partials/todo-list.ejs', {
        todos: todos.filter(todo => todo.isImportant && !todo.isUrgent),
        isShowDoneTodos
      }) %> 
    </div>
    <div class="content content-2-2">
      <%- await include('./views/partials/todo-list.ejs', {
        todos: todos.filter(todo => !todo.isImportant && !todo.isUrgent),
        isShowDoneTodos
      }) %> 
    </div>
  </div>
</body>

<footer>
  <%- await include("./views/partials/footer.ejs") %> 
</footer>

</html>