<!DOCTYPE html>
<html lang="en">

<head>
  <%- await include("./views/partials/head.ejs", {title: title}) %> 
  <link rel="stylesheet" type="text/css" href="./assets/styles/matrix2d.css"/>
</head>

<header>
  <%- await include("./views/partials/header.ejs") %> 
</header>

<body>
  <form class="form-inline" action="/add-todo" method="POST">
    <input type="text" class="form-control mb-2 mr-sm-2" name="new-todo">
    <input type="checkbox" class="form-control mb-2 mr-sm-2" name="is-important" value="true">
    <label for="is-important">Important?</label>
    <input type="checkbox" class="form-control mb-2 mr-sm-2" name="is-urgent" value="true">
    <label for="is-urgent">Urgent?</label>
    <button type="submit" class="btn btn-primary mb-2">
      Add Todo
    </button>
  </form>

  <% if (error) { %> 
    <div class="alert alert-danger" role="alert">
      <%= error %> 
    </div>
  <% } %> 

  <div class="matrix-2d">
    <div class="label-top label-1-1">
      Important
    </div>
    <div class="label-top label-1-2">
      Not Important
    </div>
    <div class="label-left label-2-1">
      Urgent
    </div>
    <div class="label-left label-2-2">
      Not Urgent
    </div>
    <div class="content content-1-1">
      <%- await include('./views/partials/todo-list.ejs', {
        todos: todos.filter(todo => todo.isImportant && todo.isUrgent),
      }) %> 
    </div>
    <div class="content content-1-2">
      <%- await include('./views/partials/todo-list.ejs', {
        todos: todos.filter(todo => !todo.isImportant && todo.isUrgent),
      }) %> 
    </div>
    <div class="content content-2-1">
      <%- await include('./views/partials/todo-list.ejs', {
        todos: todos.filter(todo => todo.isImportant && !todo.isUrgent),
      }) %> 
    </div>
    <div class="content content-2-2">
      <%- await include('./views/partials/todo-list.ejs', {
        todos: todos.filter(todo => !todo.isImportant && !todo.isUrgent),
      }) %> 
    </div>
  </div>
</body>

<footer>
  <%- await include("./views/partials/footer.ejs") %> 
</footer>

</html>